:root {
  --dokka-logo-image-url: url('../images/logo-only-white.svg');
  --dokka-logo-height: 125px;
  --dokka-logo-width: 120px;
}

/* link custom rules styles */
.library-name--link {
  /* ... */
}

/* logo custom rules styles */
.library-name--link::before {
  background-position: left;
  width: 120px;
}
